* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #1f1d1d;
}

body {
    font-family: Roboto,sans-serif;
    color: var(--primary-color);
    background-image: url(../src/assets/img/dallasskyline.jpeg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: lighter;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

/* Navigation */
.navbar { 
    padding: 10px 200px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--secondary-color);
}

.navbar h1 {
    font-weight: lighter;
    font-size: 21px;
    padding-top: 5px;
    color: var(--primary-color);
}

.navbar a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: lighter;
}

/* .navbar nav {
    margin: 0px 0;
    
} */

.navbar nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 10px;
}

.navbar nav ul li {
    display: inline;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar nav ul li a {
    padding: 0 10px 0 10px;
    font-size: 17px;
}
/* End Navigation */

/* Section: Hero */
.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto 1700px auto;
    width: 60%;
}

.hero h2 {
    font-size: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--primary-color);
}

.hero h4 {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 20px;
}

.button {
    margin-top: 25px;
    background-image: url(../src/assets/icons/icons8-expand-arrow-50.png);
    background-size: cover;
    width: 40px;
    height: 30px;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(335deg) brightness(108%) contrast(100%);
    z-index: 9999;
} 
/* End Hero */

/* Section: About */

.about {
    padding: 20px 200px;
    overflow: auto;
    align-self: auto;
    width: 100%;
    margin: 0 auto;
}

.about-bg {
    background-color: rgb(31, 30, 28, 0.75);
    transition: background-color 1s ease;
}

.about h2 {
    font-size: 30px;
    padding-top: 65px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bio-img {
    margin-top: 20px;
    resize: both;
    position: relative;
    flex: 1;
    max-width: 100%;
    max-height: auto;
    padding: 0 20px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bio-img img {
    width: 600px;
    height: 600px;
    border-radius: 5px;
}

.bio-p {
    margin-top: 20px;
    font-size: 14px;
    resize: both;
    position: relative;
    flex: 1;
}

.bio-p p {
    padding: 0 10px 20px 20px;
    line-height: 1.6;
    font-size: 18px;
    text-align:justify
} 
/* End About Me */

/* Sub-Section: Education */
.education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 200px 200px 200px;
    overflow: auto;
    align-self: auto;
    width: 100%;
    margin: 0 auto;
}

.education h2 {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.school {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.curriculum {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.uttyler {
    background-image: linear-gradient(to top right, #240864, #02012e);
    margin: 0 5px 20px 5px;
    border-radius: 5px;
}

.container-header {
    padding: 0 15px 0 15px;
}

.uttyler h3 {
    font-size: 30px;
    font-weight: lighter;
    padding: 35px 0 15px 0;
    border-bottom: 1px solid var(--primary-color);
}

.uttyler h4 {
    font-size: 22px;
    font-weight: lighter;
    padding: 15px 0 35px 0px;
}

.uttyler p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.6;
    padding: 0 10px 35px 15px;
}

.bootcamp {
    background-image: linear-gradient(to top right, #361e45, #191730);
    margin: 0 5px 20px 5px;
    border-radius: 5px;
}

.bootcamp h3 {
    font-size: 30px;
    font-weight: lighter;
    padding: 35px 0 15px 0;
    border-bottom: 1px solid var(--primary-color);
}

.bootcamp h4 {
    font-size: 22px;
    font-weight: lighter;
    padding: 15px 0 35px 0;
}

.bootcamp p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.6;
    padding: 0 10px 35px 15px;
} 
/* End Education */

/* Section: Projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 200px 0px 200px;
    overflow: auto;
    align-self: auto;
    width: 100%;
    margin: 0 auto;
}

.projects h2 {
    font-size: 30px;
    padding-top: 65px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.work {
    width: 100%;
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience {
    background-image: linear-gradient(to top right, #080808, #1f1e1c);
    margin: 20px 5px 0 5px;
    border-radius: 5px;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.experience img {
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.experience h3 {
    font-size: 30px;
    font-weight: lighter;
    padding: 20px 0 15px 0;
    border-bottom: 1px solid var(--primary-color);
}

.experience p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.6;
    padding: 15px 10px 35px 15px;
}

.resume {
    font-size: 30px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.resume h4 {
    font-weight: lighter;
    padding-right: 25px;
    padding-top: 10px;
}

.resume a {
    background-image: linear-gradient(to top right, #080808, #1f1e1c);
    border-radius: 5px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: lighter;
    font-size: 17px;
    padding: 20px 25px 20px 25px;
}

.resume a:hover {
    background-image: linear-gradient(to left, #1f1e1c, #080808);
}
/* End Projects */

/* Section: Contact */
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 200px;
    overflow: auto;
    align-self: auto;
}

.contact h2 {
    font-size: 30px;
    padding-top: 200px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.contact p {
    margin: 20px 10px;
} 
/* End Contact */

/* Footer */
footer {
    padding: 15px 200px;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

.icons {
    display: flex;
    justify-content: center;
} 

.slack {
    background-size: cover;
    margin: 0 20px;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(335deg) brightness(108%) contrast(100%);
}

.linkedin {
    background-size: cover;
    margin: 0 20px;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(335deg) brightness(108%) contrast(100%);
}

.github {
    background-size: cover;
    margin: 0 20px;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(335deg) brightness(108%) contrast(100%);
}
/* End Footer */

@media screen and (max-width: 1370px) {
    header {
        padding: 15px 100px;
    }

    .about {
      padding: 15px 100px;
    }

    .education {
      padding: 15px 100px;
    }

    .curriculum {
      flex: 0 100%
    }

    .projects {
      padding: 15px 100px;
    }

    .experience {
      flex: 0 100%
    }

    .contact {
      padding: 15px 100px;
    }

    .contact h2 {
      padding-top: 20px;
    }

    .footer {
      padding: 15px 100px;
    }
} 

@media screen and (max-width: 575px) {
    header {
        padding: 10px 30px;
        justify-content: center;
    }

    header h1 {
        padding: 10px 0 10px 0;
    }

    .hero {
        text-align: center;
    }

    .about {
        padding: 10px 30px;
    }

    .about h2 {
        padding-top: 50px;
    }

    .education {
        padding: 10px 30px;
    }

    .curriculum {
        flex: 0 100%
    }

    .projects {
        padding: 10px 30px;
    }

    .experience {
        flex: 0 100%
    }

    .contact {
        padding: 10px 30px;
    }

    .contact h2 {
        padding-top: 20px;
    }

    footer {
        padding: 10px 30px;
    }

}